
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>FRAS</title>
    <link rel="stylesheet" href="static/login.css">
</head>
<body>
<div class="grad">
    <h1>FACE RECOGNITION ATTENDANCE SYSTEM</h1>
    <form class="login" method="post">
        <div class="center-image">
            <img src="static/att.png" width="200px" height="200px">
        </div>
        <input type="text" name="username" placeholder="Username" required>
<input type="password" name="password" placeholder="Password" required>

        <div class="center-button">
            <button>Login</button>
        </div>
    </form>
    {% if 'Incorrect' in msg %}
    <div class='mess'>
      {{msg}}
    </div>
    {% endif %}
</div>
</body>
</html>
{% endblock %}