<!-- Options.html -->
{% extends "base.html" %}

{% block title %}FRAS - Select Year{% endblock %}

{% block username %}
    {{ username }}
{% endblock %}

{% block content %}
    <h1>FACE RECOGNITION ATTENDANCE SYSTEM</h1><br>


    <div class="box">
    <a href="{{ url_for('live_attendance') }}">
        <div class="box1">
        <h3>Live Camera Attendance</h3>
        </div>
    </a>
    <a href="{{ url_for('upload_photo') }}">
        <div class="box1">
         <h3>Upload Photo</h3>
        </div>
    </a>
      </div>
{%endblock%}
</html>